<p>This is minions.css for Rails.</p>

<p>It's just minions with variablized media-query breakpoints. That's it.</p>

<style>
  code {
    padding-right: .5em;
    padding-left: .5em;
    background-color: #ddd;
  }
</style>

<h3>Development</h3>

<p>Add <code>*= require "minions_rails/development"</code> to your <code>application.css</code> manifest.</p>

<h3>TODO</h3>
<ul>
  <li>this sucks because drawning out the manifest by filename. the dependency on load order breaks a ton of features.</li>
  <li>minions should have builds</li>
</ul>
