$xl: 1200 !default;
$lg:  960 !default;
$md:  720 !default;
$sm:  600 !default;
$xs:  480 !default;

@import "minions_rails/mixins/at";

body {
  @include at(mn) { background-color: aqua }
  @include at(xs) { background-color: red }
  @include at(sm) { background-color: blue }
  @include at(md) { background-color: orange }
  @include at(lg) { background-color: purple }
  @include at(xl) { background-color: yellow }
}
