<style>
  code {
    background-color: #ddd;
    padding-right: .5em;
    padding-left: .5em;
  }
</style>

<p>This page uses the <code><a target="_blank" href="https://github.com/chantastic/minions_rails/blob/master/test/dummy/app/assets/stylesheets/css_development.css">css_develop.css</a></code> manifest, importing all minions through <code><a target="_blank" href="https://github.com/chantastic/minions_rails/blob/master/app/assets/stylesheets/minions_rails/development.scss">minions_rails/development</a></code>.

<br />
<%= link_to root_path do %> Back <% end %>
