<p>There are 4 possible setups detailed in the minions_rails README. These 4 pages demostrate the different setups.</p>

<ul>
  <li>
    <%= link_to pages_css_development_path do %>CSS (Development)<% end %>
    [ Fixed breakpoints ]
  </li>

  <li>
    <%= link_to pages_css_production_path do %>CSS (Production)<% end %>
    [ Fixed breakpoints ]
  </li>

  <li>
    <%= link_to pages_scss_development_path do %>SCSS (Development)<% end %>
    [ Variable breakpoints ]
  </li>

  <li>
    <%= link_to pages_scss_production_path do %>SCSS (Production)<% end %>
    [ Variable breakpoints ]
  </li>
</ul>
