<p>There are 4 possible setups detailed in the minions_rails README. These 4 pages demostrate the different setups.</p>

<ul>
  <li>
    <%= link_to pages_css_development_path do %>CSS (Development)<% end %>
  </li>
</ul>
